<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716473907866-u9mvqtjkfiudblekl4dr05225qs1lup6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716473907866-u9mvqtjkfiudblekl4dr05225qs1lup6</string>
	<key>API_KEY</key>
	<string>AIzaSyC1dHNPCGT3X6sItGSS0DIE4SLKV8TPmes</string>
	<key>GCM_SENDER_ID</key>
	<string>716473907866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>lifter-ios-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>lifter-ios-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716473907866:ios:ce607b8fbbbe2f97dffd23</string>
</dict>
</plist>